.app {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;

}

.questions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.question-box{
    background-color: rgb(21, 21, 21);
    margin: 15px;
    color: linen;
    border-radius: 3px;
    padding: 0 40px 10px 40px;
}

.question-box h1 {
    text-align: left;
    color: rgb(177,136,211)
}

.question-buttons {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.question-button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(75,134,111);
    color: rgb(255, 255, 255);
}

.question-button:disabled {
    background-color: rgb(121, 121, 121);
    color: rgb(136, 134, 134);
}